## Step1 라이브러리 불러오기, 데이터 읽기

- 인공지능 분류 모델을 설계합니다.
- ['playtime', 'playcount', 'level', 'paycount', 'payamount', 'mainjoblevel']` 정보를 feature로 사용합니다.
- mainjob을 target으로 설정합니다.

In [20]:
# 데이터 읽기용 코드셀입니다.

import pandas as pd
print('='*20, 'game.xlsx 데이터 정보입니다.', '='*20)
tmp_df = pd.read_excel('../data_과제/game.xlsx', sheet_name='Sheet1')
display(tmp_df.shape)
display(tmp_df.columns)
display(tmp_df.head())

==================== game.xlsx 데이터 정보입니다. ====================

(2899, 9)

Index(['user_id', 'date', 'playtime', 'playcount', 'level', 'mainjob',
       'paycount', 'payamount', 'mainjoblevel'],
      dtype='object')

,user_id,date,playtime,playcount,level,mainjob,paycount,payamount,mainjoblevel
0,1001,2024-01-10,61,1.0,15,dealer,1,60300,60
1,1001,2024-01-11,14,1.0,15,dealer,1,100,60
2,1001,2024-01-12,16,1.0,15,tanker,1,151,60
3,1001,2024-01-13,1300,3.0,15,tanker,1,1000,60
4,1001,2024-01-14,41,3.0,15,tanker,1,16000,60

<img src="./참고이미지/Q9/Q9_1.png" width="45%">